﻿<div class="aside-section">
  <div class="aside-section__header">
    <h2 class="aside-section__title">Пациент</h2>
    <div class="aside-section__action">
      <div class="dropdown">
        <button
          class="btn btn-xs btn-success dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          [disabled]="!selectedPatient"
        >
          <span class="material-icons">person</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li>
            <button class="dropdown-item" type="button" (click)="closePatient()">
              <span class="material-icons">block</span>
              Завершить работу с пациентом
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="aside-section__content">
    <div class="aside-input" *ngIf="!selectedPatient">
		<ng-select 
			[(ngModel)]="selectedPatient" 
			[searchable]="true" 
			placeholder="Введите текст для поиска"
			notFoundText="Совпадений не найдено"
			(input)="inputName($event)"
			(change)="filteredList($event)"
			style="width:220px!important;">
			   <ng-option *ngFor="let item of data"
			   [value]="item"
			   >
			   <span>{{item.fullName}},<br/> {{item.policy}}</span>
			   </ng-option>
		</ng-select>
		<div class="aside-input__icon">
			<svg class="" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
			  <path
				d="M505 442.7L405.3 343C400.8 338.5 394.7 336 388.3 336H372C399.6 300.7 416 256.3 416 208C416 93.1 322.9 0 208 0C93.1 0 0 93.1 0 208C0 322.9 93.1 416 208 416C256.3 416 300.7 399.6 336 372V388.3C336 394.7 338.5 400.8 343 405.3L442.7 505C452.1 514.4 467.3 514.4 476.6 505L504.9 476.7C514.3 467.3 514.3 452.1 505 442.7ZM208 336C137.3 336 80 278.8 80 208C80 137.3 137.2 80 208 80C278.7 80 336 137.2 336 208C336 278.7 278.8 336 208 336Z"
				fill="currentColor"/>
			</svg>
		</div>
	</div>
  </div>
  <div class="aside-section__content">
    <div class="aside-section__content-results" *ngIf="selectedPatient">
      <ul>
        <ng-container>
          <li class="patients-result">
            <div class="patients-result__container">
              <p>{{ selectedPatient.fullName }}</p>
              <p>{{ selectedPatient.birthdate | date: 'dd.MM.yyyy' }} г.р.</p>
              <p>Полис ОМС: {{ selectedPatient.policy }}</p>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
