::ng-deep {
  .mat-datepicker-toggle-active {
    color: #428F9F;
  }

  .mat-calendar-body-cell {
    background-color: #B3E3F1;

    &.mat-calendar-body-disabled {
      background-color: #eee;
    }
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: #428F9F;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #428F9F;
    color: #ffffff;
  }

  .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
  .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #428F9F;
    color: #ffffff;
  }

  .mat-calendar-body-selected {
    background-color: #428F9F;
    color: #ffffff;
  }

  .mat-calendar-body-cell-content {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }

  .mat-calendar-body-active {
  }
  
  .mat-calendar-body-today{
	background: transparent!important;
	border: none!important;
  }
}
