﻿<div class="aside-section">
  <div class="aside-section__header">
    <h2 class="aside-section__title">Дата записи</h2>
  </div>
  <div class="aside-section__content">
    <div [@ToggleAnimation]="datePick">
      <div class="date-input input-group">
        <input
          class="form-control"
          placeholder="ДД.ММ.ГГГГ"
          (dateChange)="pickDate($event)"
          [disabled]="buttonDisabled"
          [matDatepicker]="myDatepicker"
          [matDatepickerFilter]="datesFilter"
        >
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div>
    </div>
  </div>
</div>
