<div class="aside-section">
  <div class="aside-section__header">
    <h2 class="aside-section__title">Специалисты <small>({{check}}/{{data.length}})</small></h2>
    <div class="aside-section__action">
      <div class="dropdown">
        <button
          class="btn btn-xs btn-success dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-icons">filter_alt</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li>
            <button class="dropdown-item" type="button" (click)="changeAll($event, true)" [disabled]="changedAll">
              <span class="material-icons">done</span>
              Выбрать все
            </button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="changeAll($event, false)" [disabled]="!changed && !changedAll">
              <span class="material-icons">close</span>
              Отменить все выбранные
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="aside-section__content">
    <div class="aside-input">
	  <ng-select 
		id="ngsel"
		[(ngModel)]="selectedResource" 
		[searchable]="true" 
		placeholder="Введите текст для поиска"
		notFoundText="Совпадений не найдено"
		(input)="inputName($event)"
		(change)="filteredList($event)"
		style="width:220px!important;">
		   <ng-option *ngFor="let item of resources"
		   [value]="item"
		   >
		   <span (click)="filteredList($event)">{{item.doctorName}}, (к.{{item.cabNum}}), {{item.specialityName}}</span>
		   </ng-option>
		</ng-select>
		<div class="aside-input__icon">
			<svg class="" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
			  <path
				d="M505 442.7L405.3 343C400.8 338.5 394.7 336 388.3 336H372C399.6 300.7 416 256.3 416 208C416 93.1 322.9 0 208 0C93.1 0 0 93.1 0 208C0 322.9 93.1 416 208 416C256.3 416 300.7 399.6 336 372V388.3C336 394.7 338.5 400.8 343 405.3L442.7 505C452.1 514.4 467.3 514.4 476.6 505L504.9 476.7C514.3 467.3 514.3 452.1 505 442.7ZM208 336C137.3 336 80 278.8 80 208C80 137.3 137.2 80 208 80C278.7 80 336 137.2 336 208C336 278.7 278.8 336 208 336Z"
				fill="currentColor"/>
			</svg>
		</div>
    </div>
  </div>
  <div class="aside-section__content">
    <div class="btn-group btn-group-xs" role="group">
      <button
        type="button" class="btn"
        [ngClass]="sortedSpec ? 'btn-secondary': 'btn-outline-secondary'"
        (click)="sortForSpec()"
      >По специальностям
      </button>
      <button
        [ngClass]="!sortedSpec ? 'btn-secondary': 'btn-outline-secondary'"
        type="button" class="btn"
        (click)="sortForName()"
      >По алфавиту
      </button>
    </div>
    <ul *ngIf="!sortedSpec" class="doctors-list">
      <li *ngFor="let item of data">
        <label class="form-check">
          <input
            (input)="filterForId($event, item.resourceId)"
            class="form-check-input"
            type="checkbox"
			[checked]="item.checked"
            id="{{item.resourceId}}"
          >
          <span class="form-check-label">{{item.doctorName}}</span>
          <span class="speciality">{{item.specialityName}} (к.{{item.cabNum}})</span>
        </label>
      </li>
    </ul>
    <ul *ngIf="sortedSpec" class="doctors-list doctors-list--speciality">
      <li *ngFor="let item of sortedForSpec">
        <div class="form-check">
          <label>
            <input
              (input)="changeSpec($event, item[0].specialityId)"
              class="form-check-input"
              type="checkbox"
              id="{{item[0].specialityId}}"
            >
            <span class="form-check-label">{{item[0].specialityName}}</span>
          </label>
          <ul>
            <li *ngFor="let doctor of item; let i = index;">
              <div class="form-check">
                <label>
                  <input
                    (input)="filterForId($event, doctor.resourceId)"
                    class="form-check-input"
                    type="checkbox"
                    [checked]="doctor.checked"
                    id="{{doctor.resourceId}}"
                  >
                  <span class="form-check-label">{{doctor.doctorName}}</span>
				  <span class="speciality">(к.{{doctor.cabNum}})</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
