::ng-deep {
  .context-menu {
    position: absolute;
    padding: 10px 20px;
    border: 1px solid #D4D4D4;
    background-color: #fff;

    &__header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0;
      font-size: 12px;
      font-weight: 500;

      .material-icons {
        align-self: flex-start;
        font-size: 20px;
      }
    }

    &__header-content {
      display: flex;
      flex-direction: column;

      time {
        display: inline-block;
        margin: 0 auto;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .context-item {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #eeeeee;
    }

    &__label {
      color: #424242;
      //&--view {
      //  color: #424242;
      //}
      &--create {
        :enabled & {
          color: #44A4FF;
        }
      }

      &--cancel {
        :enabled & {
          color: #D11818;
        }
      }
    }

    .material-icons {
      font-size: 20px;
      color: #666666;
    }

    &:disabled {
      pointer-events: none;
      opacity: .3;
    }
  }
}
