<div class="context-menu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <h3 class="context-menu__header">
    <!--Иконка расписания-->
    <span class="material-icons" *ngIf="data.patients.length===0">schedule</span>
    <!--Иконка аватара-->
    <span class="material-icons" *ngIf="data.patients.length!==0">account_circle</span>
    <span class="context-menu__header-content" *ngIf="data.patients.length===0">
      Выбран интервал времени
      <time>{{ data.timeFrom | date: 'HH:mm' }} - {{ data.timeTo | date: 'HH:mm' }}</time>
    </span>
	<span class="context-menu__header-content" *ngIf="data.patients.length!==0">
      {{ data.quoteStatus }}
    </span>
  </h3>
  <div class="context-menu__body">
	<ul class="context-menu__list" *ngIf="!data.apointment || data.patients.length >= 2 || currentTime > data.timeFrom">
	  <li>
        <button class="context-item">
          <span class="context-item__label">Данное время недоступно для записи</span>
        </button>
      </li>
	</ul>
	<ul class="context-menu__list" *ngIf="!patient && data.apointment && currentTime < data.timeFrom">
	  <li>
        <button class="context-item">
          <span class="context-item__label">Выберите пациента для записи</span>
        </button>
      </li>
	</ul>
    <ul class="context-menu__list" *ngIf="data.apointment && currentTime < data.timeFrom || data.patients.length!==0 && currentTime < data.timeFrom">
      <li>
        <button class="context-item" (click)="openModal('custom-modal-1')" [disabled]="data.patients.length===0 || data.quoteCrossing">
          <span class="material-icons">edit_note</span>
          <span class="context-item__label">Просмотреть запись</span>
        </button>
      </li>
      <li>
        <button class="context-item" (click)="openModal('custom-modal-2')" [disabled]="!patient || data.patientsCrossing || data.policy === patient.policy">
          <span class="material-icons">post_add</span>
          <span class="context-item__label context-item__label--create">Создать запись</span>
        </button>
      </li>
      <li>
        <button class="context-item" (click)="openModal('custom-modal-3')" [disabled]="data.patients.length===0">
          <span class="material-icons">delete_forever</span>
          <span class="context-item__label context-item__label--cancel">Отменить запись</span>
        </button>
      </li>
    </ul>
  </div>
</div>
