<div class="scheduler" (click)="hiddenRightMenu()">
  <div class="scheduler__container">
    <aside class="sidebar">
      <app-patients></app-patients>
      <app-datepicker></app-datepicker>
      <app-doctors [data]="doctors"></app-doctors>
    </aside>
    <section class="schedule">
      <div class="schedule-content">
        <div class="schedule-content__header schedule-title">
          <h2 class="schedule-title__heading">Расписание специалистов</h2>
          <div class="schedule-title__actions btn-group btn-group-xs" role="group">
            <button
              type="button" class="btn btn-success"
              [ngClass]="{'active': scheduleWD == 1}"
              (click)="scheduleWorkDays(1)"
              [disabled]="disableButtonGroup"
            >1 день
            </button>
            <button
              type="button" class="btn btn-success"
              [ngClass]="{'active': scheduleWD == 2}"
              (click)="scheduleWorkDays(2)"
              [disabled]="disableButtonGroup"
            >2 дня
            </button>
            <button
              type="button" class="btn btn-success"
              [ngClass]="{'active': scheduleWD == 7}"
              (click)="scheduleWorkDays(7)"
              [disabled]="disableButtonGroup"
            >Неделя
            </button>
          </div>
        </div>

        <div class="schedule-placeholder" *ngIf="doctorsForFilter.length==0">
          Для просмотра выберите хотя бы один доступный ресурс
        </div>
        <div class="schedule-placeholder" *ngIf="!dateFrom && doctorsForFilter.length!==0">
          Для просмотра выберите дату
        </div>
		<div class="schedule-placeholder" *ngIf="preloader && dateFrom && doctorsForFilter.length!==0 && filteredData.length==0">
          Загрузка данных...
        </div>
		<div class="schedule-placeholder" *ngIf="!preloader && dateFrom && doctorsForFilter.length!==0 && filteredData.length==0">
          Нет данных для отображения. Попробуйте выбрать другой ресурс или дату.
        </div>
        <div class="schedule-data" *ngIf="filteredData.length!==0 && doctorsForFilter.length!==0" (scroll)="onScroll($event)">
          <div class="schedule-data__container" [ngClass]="{'activeScroll': isScrollOffset}">
            <ng-container *ngFor="let item of filteredData">
              <app-schedule-card [data]="item"></app-schedule-card>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
