@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* GENERAL STYLES AND CLASSES
--------------------------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  a {
    cursor: pointer
  }

  ng-component {
    display: block;
  }

}


/* SIDEBAR STYLES
--------------------------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.speciality {
  display: block;
  color: #000;
  margin: 3px 0 0;
  padding: 0;
  font-size: 10px;
}

.doctorname {
  color: #000;
  margin: 5px 0;
  padding: 0 !important;
  font-size: 1.2em;
}

//.btn-group {
//  width: 100%;
//}

.fontsize10 {
  font-size: 10px !important;
}

#sidebar ul li a {
  padding: 5px 0;
  font-size: 1.1em;
  line-height: 1.2em;
  display: block;
  max-width: 253px;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #d3d3d3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #000;
  background: #6d7fcc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.scheduler {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 32px;
  background-color: #000002;

  @media all and (max-width: 1024px) {
    width: 1024px;
    max-width: initial;
  }


  &__container {
    flex: 1 1 1px;
    display: flex;
    width: 100%;
    background: #e8e8ea;
  }
}

.sidebar {
  flex: 0 1 auto;
  max-width: 224px;
  width: 100%;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5);
  z-index: 5;

  color: #000;
  transition: all 0.3s;

  .sidebar-header {
    padding: 0 10px;
  }

  ul.components {
    padding: 0;
  }
}

.schedule-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 1px;
  width: 100%;
  height: calc(100vh - 32px);
}

.schedule-title {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 8px 15px;
  width: 100%;
  color: #353535;
  border-bottom: 1px solid rgba(190, 190, 190);

  &__heading {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__actions {
    .btn {
      background-color: #56B358;

      &.active {
        background-color: #3F823F;
      }
    }
  }

  .btn-group-xs .btn {
    padding: 0.15rem 0.5rem;
    font-size: .65rem;
  }
}

.schedule-placeholder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  //height: 100vh;
  color: #353535;
  text-align: center;
}

.schedule {
  display: flex;
  flex: 1 1 1px;
  //box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5) inset !important;
  width: calc(100% - 305px) !important;
  min-width: 600px;
}

.grey {
  background-color: #949494;
}

.blue {
  background-color: #8fc7d5;
}

.green {
  background: #a5c48b;
}

.grey, .blue, .green {
  font-size: 12px;
}

.name {
  padding: 4px 7px;
  border-bottom: 1px solid #fff;
  min-height: 21px;

  > * {
    margin: 0;
    font-size: .750rem;
  }
}


.blue p,
.green p {
  color: #000;
}

.resources-in-head {
  white-space: normal;

  &__extra {
    height: initial;
    transition: height 350ms ease;
    overflow: hidden;

    .activeScroll & {
      height: 0;
    }
  }
}

.resources-block {
  margin: 2px 0;
}

.resources-block p {
  margin-top: 0.09em;
  margin-bottom: 0.018em;
}

.dotted {
  border-bottom: 1px dotted #000;
}

.margin10 {
  margin: 10px 0;
}

.btn {
  border: 1px solid #949494;
}

.schedule-card {
  //border: 1px solid #000;
  //border-radius: 2px;
  width: 132px;
  height: 100%;
  flex-shrink: 0;
  background-color: #d5e0e2;

  &__wrapper {
    //height: 120vh;
    background-color: #d5e0e2;
    padding: 0;
    margin: 0;
  }

  &__header {
    position: sticky;
    top: -1px;
    text-align: center;
    min-height: 185px;
  }

  &__content {
  }

  &__item {
    background: #fff;
    border-bottom: 1px dotted #000;
    transition: 1s;
    padding: 4px 7px;
    min-height: 30px;

    > * {
      margin: 0;
      font-size: .750rem;
    }
  }
}

.scheduler-group-header-content {
  background-color: #353535;
}

.schedule-data {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100% - 40px);
  padding-bottom: 10px;
  background: #e8e8ea;
  overflow-x: auto;

  &__container {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    padding: 12px 15px;

    @supports (gap: 6px) and (display: flex) {
      gap: 6px;
    }

    @supports not((gap: 6px) and (display: flex)) {
      > * + * {
        margin-left: 6px;
      }
    }
  }
}

.apointment-false, .apointment-red {
  background-color: #949494;
  height: 60px;
  font-weight: bold;
}

.apointment-red {
  background-color: #ed8e8e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis!important;
  height: 30px;
}

.two-patients {
	width: 50%;
	margin: 0;
	float: left;
	border-right: 1px dotted #000;
}

.not-recording {
  background-color: #eaa73f;
  border: 2px solid #aa6956;
  height: 36px;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
}

.height100 {
  min-height: 100px;
  transition: 1s;
}

.accordeon {
  overflow: hidden;
}

.aside-section {
  border-bottom: 2px solid #D4D4D4;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 5px;
  }

  &__action {
    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 11px;

      .material-icons {
        font-size: 12px;
        font-weight: bold;
      }
    }

    .btn-xs {
      display: flex;
      align-items: center;
      padding: 0.175rem 0.5rem;
      font-size: 10px;
      line-height: 1;

      &::after {
        right: 5px;
      }

      .material-icons {
        font-size: 14px;
        margin-right: 7px;
      }
    }

    .dropdown-menu {
      padding: 0.25rem 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    padding-top: 6px;
    padding-left: 17px;
    text-transform: uppercase;

    small {
      display: inline-block;
      margin: 0 2px;
      font-size: 10px;
    }
  }

  &__content {
    padding: 1px 5px 10px;

    .btn-group-xs {
      .btn {
        padding: 0.125rem 0.5rem 0.125rem;
        font-size: 11px;
        border: 2px solid #D4D4D4;
        border-radius: 0.2rem;

        &:focus {
          box-shadow: 0 0 0 0.125rem rgb(130 138 145 / 50%);
        }
      }
    }
  }

  &__content-results {
    padding-top: 10px;

    ul {
      display: grid;
      grid-gap: 5px;
      padding: 0;
      margin: 0;
      max-width: 200px;
      max-height: 90px;
      overflow-y: auto;
      overflow-x: hidden;
      list-style-type: none;
    }

    li {
      font-size: 10px;
      line-height: 1;
    }

    p {
      margin-bottom: 0;
      color: #3e7c86;
    }
  }
}

.aside-input {
  position: relative;
  display: flex;
  align-items: center;

  &__field {
    display: block;
    width: 100%;
    padding: 0.125rem 0.5rem 0.125rem;
    font-size: 11px;
    border: 2px solid #D4D4D4;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 350ms ease;

    &:focus {
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.125rem rgb(13 110 253 / 25%);
    }
  }

  &__icon {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: #868686;
    border-left: 2px solid #D4D4D4;
    pointer-events: none;

    svg {
      width: 10px;
      height: 10px
    }
  }
}

.patients-result {
  padding: 0 10px 0 15px;

  &:not(:last-child) .patients-result__container {
    border-bottom: 2px solid #D4D4D4;
  }

  &__container {
    padding: 4px 0;
    font-weight: 700;

    > * + * {
      margin-top: 3px;
    }
  }
}

.doctors-list {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 40px 0 0;
  border: 2px solid #D4D4D4;
  border-top: none;

  li {
    padding: 7px 10px;
    font-size: 12px;

    &:not(:last-child) {
      border-bottom: 1px solid #D4D4D4;
    }
  }

  .form-check {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  &--speciality {
    > li {
      padding: 0;

      label {
        padding: 7px 10px;
      }

      > .form-check {
        > label {
          border-bottom: 1px solid #D4D4D4;
          font-weight: 700;
        }
      }

      .form-check {
        margin: 0;
        padding-left: 0;

        label {
          display: flex;
          align-items: center;
          gap: 6px;
        }

        input {
          margin: 0;
        }
      }

      ul {
        li {
          padding: 0;

          &:not(:last-child) {
            border-bottom: 1px solid #D4D4D4;
          }

          label {
            display: block;
            padding-left: 22px;
          }
        }

        .form-check-label {
          max-width: 130px;
        }
      }
    }

  }
}

.date-input {
  .form-control {
    display: block;
    //width: 100%;
    padding: 0.125rem 0.5rem 0.125rem;
    font-size: 11px;
    border: 2px solid #D4D4D4;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 350ms ease;

    &:focus {
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.125rem rgb(13 110 253 / 25%);
    }

    &:disabled + * {
      background-color: transparent;
    }
  }

  .mat-datepicker-toggle {
    border: 2px solid #D4D4D4;
    border-left: none;
    background-color: #fff;
    border-radius: .2rem;
    transition: all 350ms ease;
  }

  .mat-icon-button {
    width: 35px;
    height: auto;
    line-height: 1;

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
	color: #000!important;
	border: 1px solid #fff!important;
	border-radius: 50%!important;
}

// Context menu


jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
      //padding: 20px;
      //background: #fff;

      /* margin exposes part of the modal background */
      margin: 40px;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}


.record-success {
  background-color: #E1EBD9;
  border: 2px solid #689D41;
  border-radius: .2rem;

  &__header {
    padding: .5rem 1rem;
    background-color: #689D41;
    font-size: 20px;
    font-weight: 500;
  }

  &__body {
    display: flex;
    justify-content: center;
    color: #689D41;
    padding: 2rem;

    .material-icons {
      font-size: 64px;
    }
  }
}

.record-create {
  position: relative;

  &__body {
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #D4D4D4;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    place-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;

    .material-icons {
      font-size: 20px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;

    .material-icons {
      font-size: 30px;
    }
  }

  &__table {
    margin-top: 20px;

    td, th {
      padding: 2px 5px;
      font-size: 14px;
    }
  }
}

.record-cancel {
  max-width: 220px;
  padding: 10px 15px;
  background-color: #fff;
  border: 2px solid #D4D4D4;

  > * + * {
    margin-top: 10px;
  }

  &__body {
    font-size: 11px;

    > * {
      margin: 0;

      + * {
        margin-top: 5px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;

    .material-icons {
      font-size: 30px;
      color: #dc3545;
    }
  }

  &__header-text {
    line-height: 1;
  }

  &__action {
    display: flex;
    justify-content: center;

    .btn-xs {
      padding: 0.125rem 0.5rem 0.125rem;
      font-size: 11px;
      border-radius: 0.2rem;
    }
  }

  &__footer {
    text-align: center;

    button {
      background-color: transparent;
      border: none;
      font-size: 11px;
      text-decoration: underline;
    }
  }
}
